<h1 class="text-center">All Collections</h1><br>
  
<% @tags.each do |tag| %>
<div class="jumbotron alert-warning text-center">
  <p>Search Result for #<%= tag.name %></p>
  <%= link_to "See Collection", show_collection_path(tag), class:"btn btn-danger"%>
</div>
<% end %>

<%= link_to "Add Collection", new_collection_path, class:"btn btn-primary center-block"%>




